body{
    margin: 0;
    padding: 0;
}
.hh{
    widows: 400px;
    overflow: hidden;
    margin: auto;
}
.hh input{
    width: 400px;
    height: 35px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid silver;
    padding: 5px;
}
.hh .btn-login{
    width: 400px;
    height: 35px;
}